name: build

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
          matrix:
            os: [macos-latest, ubuntu-latest, windows-latest]
            python-version: [3.7, 3.8, 3.9]

        env:
            USING_COVERAGE: "3.9"
            USING_OS: "ubuntu-latest"

        steps:
            - name: Checkout sources
              uses: actions/checkout@v2

            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                  make deps
            - name: Run tox
              run: |
                  make tox
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v1
              if: |
                  contains(env.USING_COVERAGE, matrix.python-version) &&
                  contains(env.USING_OS, matrix.os)
              with:
                  fail_ci_if_error: true